
      /*       * Style tweaks       * --------------------------------------------------       */
      body {
        padding-top: 70px;
        background-color: #ecf0f1;
      }
      footer {
        position: fixed;
        top:100%;
        padding-left: 15px;
        padding-right: 15px;
      }

      .ul{
        list-style-type: none;
      }

      .feed-icon{
        float: right;
        margin: 10px;
       }

      .list-group-item.claim-item{
        background-color: transparent;
        padding: 5px;
        /*border-style: none;*/
      }

      #recent-claims{
        color: #555;
      }

      #recent-claims:hover{
        text-decoration: none;
        background-color: #f8f8f8;
      }

      .list-group-item.pool-item{
        background-color: transparent;
        /*border-style: none;*/
      }

      a:hover{
        color: #666;
        background-color: transparent;
      }

      i.icon-home{
        height:20px;
        width: 20px;
      }
      .container {
        position: relative;
      }
      .container.left {
        position:;
      }
      .container.right {
        position:absolute;
      }

      .jumbotron {
        position:absolute;
        left: 21.5%;
        width: 60%;
        top: 70px;
        padding-top: 10px;
        background-color: transparent;
      }

      .jumbotron.pool {
        position:absolute;
        left: 16.5%;
        width: 60%;
        top: 70px;
        padding-top: 10px;
      }

      #profile-info{
        position: relative;
      }

      .dropdown-menu.dropdown-notif{
        width:300px;
      }

      .notification-container{
        position: relative;
        border:0px;
        border-bottom: 1px;
        border-style: solid;
        border-bottom-color: #DADFE1;
        padding: 5px;
        margin: 0px;
        color: #666;
      }

      .notification-container:hover{
        background-color: #f8f8f8;
        text-decoration: none;
      }

      .notification-link{
        color: black;
      }

      .notification-link:hover{
         text-decoration: none;
         color: black;
      }

      #notification-count{
        background-color: #27ae60;
      }

      .badge.poolreq-count{
        background-color: #c0392b;
      }

      .dropdown-menu{ 
        width: 300px;      
        height: auto;
        max-height: 500px;
        overflow: auto;
         
      }

      .menu-icon{
        -webkit-filter: grayscale(1);
      }

      .menu-icon:hover{
        -webkit-filter: none;
      }

      #loader{
        margin: 15px;
      }  

      #birthday-loader{
        margin: 15px;
      }      

      #notification-inactive{
        -webkit-filter: grayscale(1);
      }

      #notification-active{
        -webkit-filter: none;
      }

     #notif-dropdown:hover img{
        -webkit-filter: none;
      }

      .feed-container{
        background-color: #ffffff;
        font-size: 14px;
        padding: 5px;
        text-align: center;
        border-radius: 5px;
        border: 1px;
        border-style: solid;
        border-color: #DADFE1;
        margin: 3px;
        vertical-align: top;
      }

      .feed-text{
        width: 100%;
        text-align: left;
        display: inline-block;
      }

      .feed-username{
        font-weight: bold;
      }

      .feed-posttext{
        display: inline-block;
        margin-bottom: 0;
        word-wrap: break-word;
      }

      .pool-posttext{
        max-width: inherit;
        margin-top: 2px;
        padding: 5px;
        font-size: 14px;
        border-top: gainsboro;
        border-width: 0px;
        border-top-width: 1px;
        border-style: solid;
        word-wrap: break-word;
      }

      .feed-divider{
        margin-top: 3px;
        margin-bottom: 10px;
        width: 100%;
        border-top: gainsboro;
        border-width: 0px;
        border-top-width: 1px;
        border-style: solid;
      }


      .feed-time{
        font-size: 10px;
        color: #B6BBBD;
        margin-bottom: 0;
      }

      .feed-thumbnail{
        height: 40px;
        width: 40px;
        margin: 2px;
      }

      #feed-btn{
        background-color: #27ae60;
      color: white;
      font-weight: bold;
      }

      .feed-image{
        max-width: 100%;
        max-height: 100%;
      }

      .btn-group.tabs {
        position: fixed;
        left: 30%;
        width: 42.5%;
        top: 110px;
        z-index: 4999;
      }

      .btn.tab{
        font-size: 12px;
      }

      .profile-dp-container{
        width: 25%;
        display: inline-block;
      }

      .dp-container {
        width:100%;
      }
      .display-pic {
        width: 100%;
        height: width;
      }
      
      .modal{
        z-index: 9999;
      }

      body.loading {
          overflow: hidden;   
      }

      body.loading #basicModal {
          display: block;
      }

      #basicModal{
        height:     100%;
        width:      100%;
        background: rgba( 51, 51, 51, .8 ) 
                url('/images/new-loader.GIF') 
                50% 50% 
                no-repeat;
      }

      #basicModal .modal-dialog{ 

        padding-top: 22%;   
        width: 60%; 
        text-align: center;
      }

       #basicModal .modal-body{ 

        padding-bottom: 20px;   
      }

       .img-gift
      {
        max-width: 100%;
        max-height:100%;
      }

      #friends{
        position: absolute;
        padding-top: 20px;
        width: 100%;
        margin: 5px;
     }

      .invitation-btn{
        position: relative;
        float: right;
        top: -30px;
        vertical-align: middle;
        color: #666;
      }

      .invitation-btn:hover{
        color: #27ae60;
        text-decoration: none;
      }

      .friends-container{
        display:inline-block;
        background-color: #ffffff;
        vertical-align: top;
        height: 76px;
        padding: 5px;
        border-radius: 5px;
        border: 1px;
        border-style: solid;
        border-color: #DADFE1;
      }

      .friends-media{
        width:285px;
		    margin-bottom:0px;
        line-height: normal;
      }

      .member-container{
        display:inline-block;
        background-color: #ffffff;
        vertical-align: middle;
        height: 76px;
        padding: 5px;
        border-radius: 5px;
        border: 1px;
        border-style: solid;
        border-color: #DADFE1;
      }

      .member-media{
        width:220px;
        margin-bottom:0px;
        line-height: normal;
      }
      
      .friends-media-object{
         width:64px; 
         height:64px;
         margin-right: 5px;
         vertical-align:top;
      }
      
      .friends-media-body{
        padding-top:15px;
        font-size:12px;
        line-height: normal;
        text-align: left;
      }


      .friends-media-body .media-heading{
        font-size: 12px;
        font-weight: bold;
      }

     .delete-icon
       {
         height: 20px;
         width: 20px;
         margin-top: 10px;
         position: absolute;
         right: 25px;
         display: block;
         /*opacity: 0;*/
         cursor: pointer;
         z-index: 1;
       }

      .thumbnail
      {
        font-size : 15px;
        width:100%;
        height: 300px; 
        text-align: center;
        position: relative;
        vertical-align: middle;
        /*opacity: 1;*/

      }

      .gift-info
      {
        position: absolute;
       width: 100%;
       bottom: 0;
      }

      /*.thumbnail:hover
      {
         opacity: 0.5;
      }*/

      .col-md-6
      {
        margin-bottom: 10px;
      }
	  
      .navbar{
        z-index: 8999;
      }

      #menu-bar{
        float:right;
      }

      .timeline-bar{
        opacity: 0.9;
        background-color:#95a5a6;
        height:50px;
        position:fixed;
        top:55px;
        z-index: 5999;
        width: 100%;
      }

      .badge.notification-count{
        background-color: #c0392b;  
         }
      .timeline-line{
        background-color:#ffffff;
        height:2.5px;
        position: relative;
        top:23px;
        z-index: 4999;
        width: 95%;
        left: 2%;
      }

    #startnode{
      position:relative;
      top:-15px;
      }

      .birthday-container{
        font-size: 0px;
        display: inline-block;
        margin: 5px;
      }

      #bday-username{
        display:inline-block; 
        font-size:0px;
        margin-left:5px;
      }

      .eventnode{
        position: absolute;
        top: -15px;
        font-size: 0px;
        color: #ffffff;
      }

      .img-claim-thumbnail{
        position: relative;
        height:25px;
        width: 25px;
        float: right;
        top:-1px;
      }

      .img-event{
        height:35px;
        width: 35px;
        /*box-shadow: 3px 3px 3px #888888;*/
        border: 1px;
        border-style: solid;
        border-color: #DADFE1;
      }

      .img-birthday{
        height:50px;
        width: 50px;
        /*box-shadow: 3px 3px 3px #888888;*/
        border: 1px;
        border-style: solid;
        border-color: #DADFE1;
      }

      .like_button
      {
        font-size: 18px;
        position: absolute;
        bottom: 0;
        margin-bottom: 10px;
        margin-left: 8px;
        color: #ffffff;
      }

      .like_button:hover
      {
        color:#3498db;
      }

      .like_button:hover .glyphicon-thumbs-down
      {
          color:#3498db;
      }

      .like_button:hover .glyphicon-thumbs-up
      {
        color:#3498db;
      }

     .add_delete_button
       {
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 8px;
        margin-right: 20px;
        z-index: 1;
       }

       .glyphicon-trash
      {
        font-size: 18px; 
        color: gray;
      }

       .add_delete_button:hover .glyphicon-trash
       {
        color: #e74c3c;
       }

      .add_delete_button:hover .glyphicon-floppy-save
      {
        color: #0C6;
      }

      .glyphicon-floppy-save
      {
        color: gray;
       font-size: 18px; 
      }

      .glyphicon-thumbs-up
      {
        color: #ffffff;
        font-size: 18px;
      }

      .glyphicon-thumbs-down
      {
        color: #ffffff;
        font-size: 18px;
      }

      .glyphicon-plus:hover
      {
        color: green;
      }

      .glyphicon-star{
        color: #f1c40f;
      }

      .glyphicon-magnet{
         color:#D64541
      }

      #pool-dropdown:hover i
      {
        -webkit-filter: none;
        color: #d35400;
      }

      #magnet-dropdown{
        -webkit-filter: grayscale(1);
        font-size: 18px;
      }

      #magnet-dropdown:hover{
        -webkit-filter:none;
        color: #d35400;
      }


       #magnet-dropdown-active
       {
        -webkit-filter:none;
        font-size: 18px;
        color: #d35400;
      }      
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
      .glyphicon-heart{
        color: #f17288;
      }

      .glyphicon-user{
        color: #52B3D9;
      }

      .glyphicon-flag{
        color: #34495E
      }

      .event-btn{
        height: 25px;
        width: 25px;
      }

    #addwish-btn{
      width: 33%;
      position: relative;
      left:33.5%;
      margin-bottom: 10px;
    }

    #addwish-btn:hover{
      font-weight: bold;
      background-color: white;
      color: #27ae60;
    }

    #addwish-panel{     
      padding:50px;
      display: none;
        background-color: #ffffff;
        padding: 5px;
        border-radius: 5px;
        border: 1px;
        border-style: solid;
        border-color: #DADFE1;
        margin-bottom: 5px;
    }

    #invite-btn{
      width: 27%;
      position: relative;
      left:27%;
      margin-bottom: 10px;
    }

    #invite-btn:hover{
      font-weight: bold;
      background-color: white;
      color: #27ae60;
    }

    #invite-panel{
      width: 100%;     
      padding:50px;
      display: none;
        background-color: transparent;
        padding: 5px;
        border-radius: 0;
        border: none;
        border-style: none;
        border-color: none;
        margin-bottom: 5px;
    }

    #inviteModal .modal-dialog{
      width: 50%;
      text-align:center;
    }

    #pool-modal-cont {
      padding: 10px;
      }

    #profile-list{
      position: relative;
      margin-top: 10px;
    }

	  #profile-sidebar{
		  position: fixed;
      width: 19%;
      background-color: #ffffff;
      top: 100px;
      height: 100%;
      padding-left: 10px;
		}

     #profile-left-sidebar{
      position: fixed;
      width: 19%;
      background-color: #ecf0f1;
      top: 100px;
      height: 100%;
      padding-left: 10px;
    }
    
		
		#search-container{
			z-index:9900; 
			position:absolute; 
			top:15px; 
			left:37%; 
			width:25%;
		}
		
		#searchbar{
			position:fixed; 
			width:inherit;
      border: gainsboro;
      border-style: solid;
      border-width: thin;
      border-radius: 5px;
		}
		
		#brand-logo{
      padding-right:5%;    
			width:auto;
			height:48px;
		}
		
    @media(min-width: 768px)
    #brand-logo{
      padding-right:1%;    
    }
  
		#trends-sidebar{
			position: fixed;
      width: 19%;
      background-color: #ffffff;
      right: 0px;
      top: 100px;
      height: 100%;
      padding-left: 10px;
		}			

    #pool-sidebar{
      position: fixed;
      width: 25%;
      background-color: transparent;
      right: 0px;
      top: 100px;
      height: 100%;
      padding: 10px;
    }     

    #members-sidebar{
      position: fixed;
      width: 19%;
      background-color: #ffffff;
      top: 105px;
      height: 100%;
      overflow:auto;
      padding: 1px;
    }
    
		
			/*       * Off Canvas       * --------------------------------------------------       */
      @media screen and(max-width: 768px) {
        .row-offcanvas {
          position: absolute;
          -webkit-transition: all 0.25s ease-out;
          -moz-transition: all 0.25s ease-out;
          transition: all 0.25s ease-out;
        }
        .row-offcanvas-right .sidebar-offcanvas {
          right: -50%;
          /* 6 columns */
        }
        .row-offcanvas-left .sidebar-offcanvas {
          left: -50%;
          /* 6 columns */
        }
        .row-offcanvas-right.active {
          right: 50%;
          /* 6 columns */
        }
        .row-offcanvas-left.active {
          left: 50%;
          /* 6 columns */
        }
        .sidebar-offcanvas {
          position: absolute;
          right:200px;
          top: 0;
          width: 50%;
          /* 6 columns */
        }
