.facebook-btn{
    background-color: #3b5998;
    color: #fff;
    border-color: rgba(0,0,0,0.2);
}

.facebook-btn:hover{
    background-color: #30487b;
    color: #fff;
    border-color: rgba(0,0,0,0.2);
}

.facebook-btn:focus{
    background-color: #30487b;
    color: #fff;
    border-color: rgba(0,0,0,0.2);
}

.img-signin{
    max-height: 500px;
    max-width: 1200px;
    height:auto;
    width:auto;
    margin: auto;
    display: inline-block;
}

.item{ 

    text-align: center;  
}

.carousel-inner{
    max-width: inherit;
    max-height: inherit;
    height: 100%;
    width: 100%;
    text-align: center; 
}

.carousel{
    display: inline-block;
    max-width: inherit;
    max-height: inherit;
    height: 100%;
    width: 100%;
    margin: auto;
}

.carousel-control:hover{
    background-color:#bdc3c7;
    opacity: 0.5;
}

.jumbotron{
    max-width: inherit;
    max-height: inherit;
    height: 100%;
    width: 100%;
    text-align: center;
}

#logo{
    position: absolute;
    z-index: 9999;
    height: 15%;
    width: auto;
    display: inline-block;
    vertical-align: center;
    margin: auto;
<<<<<<< HEAD
    left:45%;
=======
    left: 45%;
>>>>>>> b2bc2b8ac5027db6a4d0935742d603bad4998423
    top:40%;
}

