<!DOCTYPE html>
<html>
<head>
</head>
<body>
  		<% if current_user %>
  			
    			<%= render 'layouts/profile',:itemm => @friends,:paginated_results => @paginated_results%>
  		<% else %>
    		<%= render 'layouts/signout' %>
  		<% end %>
<%= yield %>

</body>
</html>
