<p id="notice"><%= notice %></p>

<p>
  <strong>Poolers:</strong>
  <%= @pool_group.poolers %>
</p>

<%= link_to 'Edit', edit_pool_group_path(@pool_group) %> |
<%= link_to 'Back', pool_groups_path %>
