            <li class="col-md-6">
              <div class="thumbnail" style="padding: 0">
                <div style="padding:4px">
                  <img alt="300x200" style="width: 100%; height:190px" src="Flash-Rebirth-TBP-Cover.jpg">
                    <h4>Project A</h4>
                      <p>My project description
                         <i class="icon icon-map-marker"></i> Place, Country
                       </p>
                </div>      
              </div>
            </li>