            <% current_user.wishlist.each do |t|%>
            <% if t.id!= nil %>
            <li class="col-md-6">
              <div class="thumbnail" style="padding: 0">
                <div style="padding:4px">

                  <img class="img-gift" alt="300x200" data-toggle="popover" style="width: 100%; height:190px" src="Flash-Rebirth-TBP-Cover.jpg" >
                    <h4>BC</h4>

                  <img class="img-gift" alt="300x200" data-toggle="popover" style="width: 100%; height:190px" src="Flash-Rebirth-TBP-Cover.jpg" onload='resize_image(this)'>
                    <h4><%=t.id%></h4>

                      <p>My project description
                         <i class="icon icon-map-marker"></i> Place, Country
                       </p>
                </div>      
              </div>
            </li>
            <%end%>
            <%end%>
