
<% activities = PublicActivity::Activity.order("created_at desc") %>

<% activities.each do |activity| %>
	<div class="activity">
		<%= link_to activity.owner.name , root_url if activity.owner %>
		added wishlist item <%= link_to activity.trackable.link, root_url %> at <%= activity.created_at %>
	</div>
<%end%>
