<!DOCTYPE html>

<html>

<body>

<% provide(:title, 'About Us')%>

<div class="page-header">
<center><%= link_to image_tag("http://i.imgur.com/0bl9icr.png"), 'http://facebook.com/' %></center>	
<p></p>
<p></p>
<p><font face="Calibri"><h1>Gift. Celebrate. Grow.</h1></font></p>

</div>
<p><font face="Calibri"><h1>Making Gifting Better. That's our aim.</h1></font> </p>
<p><font>
	
	<p></p>
	
	I think all of us know what a pain it is to choose gifts. Be it for friends,relatives,parents or our better halves. We know how befuddled one can be by an upcoming birthday or anniversary. 
	<p></p>
	The main motive behind FriendFundr is to address all the problems that are associated with buying and getting gifts. We want to make sure that people get things they can actually use and things that they can enjoy. We want to make gifting a happy and hassle free experience for all. 
	
</font>	</p>

<p><font face="Calibri"><h1>The Team</h1></font></p>	

<div class="container">
    <div class="row">
    	<div class="col-xs-3">
			<center><div class="img-circle">
				<img class="img-circle" src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash3/t1.0-9/1525687_10151916054819125_362645374_n.jpg">
			</div>
      		<p><h5>Ayush Goel</h5></p> </center>
        </div>
    	<div class="col-xs-3">
			<center><div class="img-circle">
				<img  class="img-circle" src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-prn1/t1.0-9/58249_570411519667905_979700801_n.jpg" >
			</div>
			<p><h5> Shiv Kandikuppa</h5></p> </center>
		</div>
        <div class="col-xs-3">
            <center><div class="img-circle">
				<img class="img-circle" src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-frc3/t1.0-9/1379498_674549022555232_1364799785_n.jpg">
			</div>
			<p><h5> Shubham Singh</h5></p> </center>
        </div>
        <div class="col-xs-3">
   		    <center><div class="img-circle">
				<img class="img-circle" src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-ash3/t1.0-9/7641_607903425906379_1558600645_n.jpg">
				
			</div>
			<p><h5> Udayan Tandon</h5></p> </center>
        </div>
        
        <div class="col-xs-3">
			<center><div class="img-circle">
				<img class="img-circle" src="https://scontent-a-sin.xx.fbcdn.net/hphotos-frc1/t1.0-9/1979704_741411069232336_806629457_n.jpg">
			</div>	
    	 <p><h5> Vedant Das Swain</h5></p> </center>
        </div>
        
        <div class="col-xs-3">
            <center><div class="img-circle">
				<img class="img-circle" src="https://copy.com/vELmpwIzxKRGxOIi">
				<p><h5> Vinayak Chopra</h5></p> </center>
			</div>
        </div>
     
    </div>
</div>
</html>
</body>

