<% notifs = Notification.order("created_at desc").all %>

<% notifs.each do |n| %>
<% if n.user_id == current_user.id %>
          
          <a href="#" class="notification-link">
                      <div class="notification-container">

                        
                
                  
                           <%= image_tag(fimage(n.owner_id), :class => "feed-thumbnail" , :title => "thumbnail-dp")%>
                           <div style="display:inline-block; vertical-align: top;">
                             <p class="feed-time"><%= n.created_at %></p>
                            <a class="feed-username" href=""><%= link_to n.name , root_url  %></a>
                             <p class="feed-posttext"><%= n.content%> </p>
                           </div>
                      </div>
                    </a>
                 <%end%>
                 <%end%>
                
