<div class="jumbotron">
            	<img id="logo" src="FriendFundrLogo.png" title="FriendFundr" alt="Logo" height="250px" />
		    	<p class="lead">Gift your friends what they want</p>
            	<%= link_to "Sign in with Facebook", "/auth/facebook", :class => "btn btn-large btn-success" %>
        	</div>